@page
@model RazorPagesFeatures.Pages.SyntaxModel

<!-- Обычная HTML разметка -->

<h1>Привет, мир!</h1>

@* Экранирование символа @ *@

<p>@@Username</p>

<a href="mailto:example@mail.ru">Example@Mail.Ru</a>

<!-- Неявные Razor выражения -->

<p>@DateTime.Now --- @DateTime.Now.ToShortTimeString()</p>
<p>@DateTime.Now.Year</p>
<p>@DateTime.Now.Month</p>
<p>@DateTime.Now.Day</p>
<p>@DateTime.IsLeapYear(DateTime.Now.Year)</p>

<!-- Явные Razor выражения -->

<p>
	Неделю назад была следующая дата: @(DateTime.Now - TimeSpan.FromDays(64))
</p>

@("<h1>Hello, world!</h1>")

@* @Html.Raw("<h1>Hello, world!</h1><script>alert('Alert!');</script>") *@

<!-- Блоки кода в Razor -->

@{
	string simpleText = "Simple Text";
}

<p>@simpleText</p>

@{
	simpleText = "" + (new Random()).Next();
}

<h2>@simpleText</h2>

@{
	void DisplayName(string name)
	{
		<p>Name: <b>@name</b></p>
	}

	for (int i = 0; i < 3; i++)
	{
		DisplayName($"User #{i}");
	}
}

<h3>
	@{
		void DisplayNameAsText(string name)
		{
			@:My name is: @name
		}

		DisplayNameAsText("Bob");
	}
</h3>

<hr />

@{
	int dayOfYear = 131; //DateTime.Now.DayOfYear;
}

<!-- <p>День: @@dayOfYear</p> -->

@if (dayOfYear % 2 == 0)
{
	<p>День <b>четный</b></p>
}
else
{
	<p>День <b>нечетный</b></p>
}

@{
	int number = -100;
}

<hr />
<p>Число: @number</p>

@if (number >= 0 && number % 2 == 0)
{
	<p>Число положительное и четное</p>
}
else if (number < 0)
{
	<p>Число отрицательное 1</p>
}
else if (number < 0)
{
	<p>Число отрицательное 2</p>
}
else
{
	<p>Текст из блока "else"</p>
}

@switch(number)
{
	case 0:
		<p>Число - ноль!</p>
		break;
	case -100:
		<h1>Число - это минус сто</h1>
		<h1>Число - это минус сто</h1>
		break;
	default:
		<p>Ни одно условие не выполнилось: default</p>
		break;
}

@for (int i = 0; i < 32; i += 5)
{
	<p>i = @i</p>
}

@{
	List<string> names = new List<string>() { "Tom", "Bob", "123" };
}

<h3>for:</h3>

@for (int i = 0; i < names.Count; i++)
{
	<p>Name: @names[i]</p>
}

<hr />
<h3>foreach:</h3>

@foreach (string name in names)
{
	<p>Name: @name</p>
}

<hr />
<h3>while:</h3>

@{ int count = 0; }

@while (count > 0)
{
	<p>Count: @count</p>

	if (count % 2 != 0)
		break;

	count--;
}

<hr />
<h3>do while:</h3>

@do
{
	<p>Count: @count</p>
	count--;
} while (count > 0);

@functions
{
	class Person
	{
		public required string Name { get; set; }
	}
}

@{
	Person person = new Person() { Name = "Tom" };
}

<hr />
<p>Person name: @person.Name</p>